{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <h1>ExpressPHP</h1>
    <p class="important">
        Welcome to my awesome homepage.
    </p>
{% endblock %}