{% extends "base.html.twig" %}

{% block title %}Todo{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <h1>Todo</h1>
    <p class="important">
        Welcome to my Todo homepage.
    </p>
{% endblock %}